/**
 * RESET
 * -------------------------------------------------------------
 */
a {
   text-decoration: none;
}
ul {
   list-style-type: none;
}


/**
 * UTILITY
 * -------------------------------------------------------------
 */
body {
   background-color: #141414;
}


/**
 * HEADINGS
 * -------------------------------------------------------------
 */
h1, h2, h3 {
   color: #fff;
}


/**
 * NAVBAR
 * -------------------------------------------------------------
 */
.navbar-nav .nav-link {
   color: #e5e5e5;
}
.navbar-nav .nav-link.active {
   color: #fff;
   font-weight: 500;
}
.user-menu i,
.user-menu .nav-link {
   color: #fff;
}
.user-menu .nav-link.active {
   color: #e5e5e5;
   font-weight: 500;
}
.navbar-toggler,
.navbar-toggler-icon {
   color: #fff;
}
.custom-toggler .navbar-toggler-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
   border-color: rgb(255,255,255);
} 


.icon {
   color: #808080;
   margin-left: auto;
}
.icon .d-flex {
   height: 25px;
   aspect-ratio: 1/1;
   align-items: center;
   justify-content: center;
   border: 1px solid #808080;
}
.icon .d-flex:first-of-type i{
   font-size: 21px;
}
/**
 * FOOTER
 * -------------------------------------------------------------
 */
.footer {
   margin-top: 6rem;
   color: #808080;
}
.footer i {
   font-size: 22px;
}
.footer a {
   color: #808080;
   font-size: 0.8rem;
}
.footer .btn-outline-secondary {
   border-color: #808080;
   border-radius: unset;
}
.footer .copyright {
   font-size: 0.7rem;
}
@media screen and (min-width: 992px) {
   .container-ft {
      max-width: 960px;
      margin-inline: auto;
      padding-inline: 1rem;
   }
}
